<div class="row row-cols-1 row-cols-md-3 g-4 m-2 animated fadeIn">
    
    <div (click)="verArtista( item )" class="col puntero" *ngFor="let item of items">
      <div class="card">
        <img [src]="item.images | noimage" class="card-img-top" [alt]="item.name">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            <span class="badge text-bg-secondary" *ngFor="let artista of item.artists">{{artista.name}}</span>
          </p>
        </div>
      </div>
    </div>
    
  </div>